/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: "poppins", sans-serif;
}

.menu {
    position: fixed;
    right: 0px;
    top: 0;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease 300ms;
    transition: all 0.5s ease 300ms;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.clip-path {
    clip-path: polygon(0 0, 60% 100%, 100% 0);
}
.clip-path-2 {
    clip-path: polygon(37% 0, 0 100%, 100% 100%);
}

@media screen and (min-width: 1280px) {
    .menu {
        position: relative;
    }
}

.custom-shadow {
    box-shadow: 0px 5px 11px 0px rgba(190, 190, 190, 0.25);
}

.custom-background {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 30.51%,
        rgba(0, 0, 0, 0.64) 100%
    );
}

/***************NOC And Notice****************/
.nocTitle_holder {
    padding-top: 45px !important;
}
.nocAndNotice .responsive-table {
    margin: 35px 0 !important;
    background: #f3f9ff;
}
.nocAndNotice .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebf1f6;
}
.nocAndNotice .responsive-table .table-header {
    background-color: var(--color-primary);
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.2px;
    text-transform: uppercase;
    border-radius: 10px 10px 0px 0px;
    letter-spacing: 0.03em;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.nocAndNotice .responsive-table .table-row {
    background-color: #f3f9ff;
}
.nocAndNotice .responsive-table .col-1 {
    flex-basis: 10%;
}
.nocAndNotice .responsive-table .col-2 {
    flex-basis: 40%;
}
.nocAndNotice .responsive-table .col-3 {
    flex-basis: 25%;
}
.nocAndNotice .responsive-table .col-4 {
    flex-basis: 25%;
}
.nocAndNotice a {
    text-decoration: none;
    padding: 8px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}
.nocAndNotice .view {
    background: var(--color-primary);
    font-size: 12px;
    font-weight: 600;
}
.nocAndNotice .download {
    background: var(--color-yellow);
    font-size: 12px;
    font-weight: 600;
}
@media all and (max-width: 910px) {
    .nocAndNotice .responsive-table .table-header {
        display: none;
    }
    .nocAndNotice .responsive-table li {
        display: block;
    }
    .nocAndNotice .responsive-table .col {
        flex-basis: 100%;
    }
    .nocAndNotice .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .nocAndNotice .responsive-table .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

.custom-clip-bg {
    clip-path: polygon(0 0, 100% 0, 91% 38%, 0 93%);
}

.navigation ::-webkit-scrollbar {
    width: 12px;
  }
  
.navigation ::-webkit-scrollbar-track {
    background: var(--color-primary);
    border-radius: 5px;
  }
  
.navigation ::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.20);
    border-radius: 14px;
    border: 3px solid var(--color-primary);
  }
  
.navigation ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-tertiary);
  }