:root {
    --color-primary: #006A4D;
    --color-secondary: #FED358;
    --color-tertiary: #777;
    --color-yellow: #D3AA14;
    --color-card-text: #1C1C1C;
    --color-copyright: #9AA1B2;
    --color-headline: #2E2E36;
    --color-text-dark: #CCC;
    --color-sky-light: #EEF3F6;
}